h1 {
    text-align: center;
  }
  
  button {
    background-color: black;
    color: white;
    /*border: 2px solid #4CAF50; /* Green */
    transition-duration: 0.4s;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
   margin-left: 6vh;
   margin-bottom: 1vh;
    font-size: 16px;
    border-radius: 12px;
  }
  
  button:hover {
    background-color: lightgrey; /* Green */
    color: black;
  }
  .Cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 25vh;
    
  
  }
  .Card {
    flex: 0 0 200px;
    margin: 5vh;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  } 
  .Card img {
    max-width: 100%;
  }
  .card .text {
    padding: 0 20px 20px;
  }
  
   