textarea {
    margin-left: 1in;
    width: 6in;
    height: 2.5in;
}

label {
    margin-left: .25in;
    font-weight: 700;
}

.form-control {
    width: 4.5in;
    margin-left: .5in;
}

.form-control1 {
    width: 4.5in;
    margin-left: 1.50in;
}

.form-control2 {
    width: 4.5in;
    margin-left: .15in;
}

.email {
    width: 4.5in;
}

.btn-primary {
    margin-left: .5in;
    background-color: rgb(187, 216, 235);
    border: 2px solid #777;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
    }





