.Header h1 {
    font-family: 'Redressed', cursive;
    display: inline;
    color: black;
    font-size: 30pt;
  }

.Header h2 {
    display: inline
}
.Header li {
    float: right;
    display: inline;
    padding-right: 4vw;
    font-family: 'Redressed', cursive;
}


.Header {
    height: 1in;
    background-color: rgb(187, 216, 235);
    padding-top: 1.5vh;
}