.showMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
      /* padding-bottom: 3vh; */
  }
  
  .show {
    width: 350px;
    height: 350px;
    display: inline;
    border-width: .25in;
    border-radius: 10px;
    border: solid rgb(98, 118, 134) 3px;
    margin-bottom: 3vh;
  }